@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fira Sans", Arial, sans-serif;
}

.user-select-none{
  user-select: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}