@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger div:nth-child(2) {
     @apply -rotate-45 -translate-y-1;
  }
  .hamburger div:last-child {
     @apply hidden;
  
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
}

.user-select-none{
  user-select: none;
}


input-field::-webkit-outer-spin-button,
input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input-field[type=number] {
  -moz-appearance: textfield;
}

/* custom-scrollbar.css */

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Customize the thumb (scrollbar handle) */
::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 3px;
}

/* Customize the track (scrollbar background) */
::-webkit-scrollbar-track {
  background-color: transparent;
}



.-h-64px{
  height: (100vh - 64px);
}




/* --------- */
.img-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
}
.img-card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.img-card figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-card.image-full {
  display: grid;
}
.img-card.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  opacity: 0.75;
  border-radius: var(--rounded-box, 1rem);
}
.img-card.image-full:before,
  .img-card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.img-card.image-full:before,
  .img-card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.img-card.image-full > figure img {
  height: 100%;
  object-fit: cover;
}
.img-card.image-full > .img-card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}
.img-card :where(figure:first-child) {
  overflow: hidden;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: unset;
  border-end-end-radius: unset;
}
.img-card :where(figure:last-child) {
  overflow: hidden;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}
.img-card:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.img-card.bordered {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
}
.img-card.compact .img-card-body {
  padding: 1rem/* 16px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.img-card.image-full :where(figure) {
  overflow: hidden;
  border-radius: inherit;
}




/* input-field field  */

.input-field {
  flex-shrink: 1;
  height: 3rem/* 48px */;

  
}
.input-field-group > .input-field {
  isolation: isolate;
}
.input-field-group > *,
.input-field-group > .input-field,
.input-field-group > .textarea,
.input-field-group > .select {
  border-radius: 0px;
}
.input-field[list]::-webkit-calendar-picker-indicator {
  line-height: 1em;
}
.input-field:focus {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}
.input-field-disabled,
.input-field[disabled] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2, var(--b1)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
  --tw-text-opacity: 0.2;
}
.input-field-disabled::placeholder,
.input-field[disabled]::placeholder {
  color: hsl(var(--bc) / var(--tw-placeholder-opacity));
  --tw-placeholder-opacity: 0.2;
}



